<p>Temperature: {{temperature}}°C</p>
<p>Humidity: {{humidity}}%</p>
<p>Description: {{description}}</p>
<p>Thank you for using our service!</p>
<p>If you wish to unsubscribe, please click <a href="{{unsubscribeUrl}}">here</a>.</p> 